<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Server tested and working perfectly. Super excited about this. Love coding!</p>
    <p>This is the Product Page!</p>
  </body>
</html>
